<!DOCTYPE html>
<html>
<head>
    <%- include('layout/headIncludes') -%>
    <title>Diminenco Iulian</title>
</head>
<body>
    <%- include('layout/header') -%>
    <section class="intro">
        <div class="limits">
            <div class="welcome">
                <div class="meet">
                    <h1>Hi, I am Iulian,<br>a Software Engineer</h1>
                    <div class="d-flex">
                        <a class="email" href="mailto:diminencoiulian@gmail.com">Email me</a>
                    </div>
                    <div class="social">
                        <a href="">Linkedin</a> /
                        <a href="">Facebook</a> /
                        <a href="">WhatsApp</a>
                    </div>
                </div>
                <!-- <img class="me" src="/img/eu.webp" alt="Me, Iulian Diminenco"> -->
                <img class="me" src="/img/eu-nobg.png" alt="Me, Iulian Diminenco">
            </div>
        </div>
    </section>
    <section class="aboutme">
        <div class="container limits">
            <div class="description">
                <div class="h4">- MY BACKGROUND</div>
                <p>
                    ve gone through a number of phases in my career, and each of them has informed my current work ethos and philosophy. 
                    I have excelled in a number of project management roles in diverse industries, and believe that my number one asset is my ability to adapt to any challenge that is thrown my way.
                </p>
            </div>
            <div class="skills">
                <h4>- SKILLS</h4>
                <ul class="default">
                    <li>Leadership</li>
                    <li>Communication</li>
                    <li>Critical Thinking</li>
                    <li>Cost manager</li>
                </ul>
            </div>
        </div>
    </section>
</body>
</html>